# Dependencies
**/node_modules

# Production builds
**/dist
**/build

# Environment files
.env
.env.*
!.env.example
**/.env
**/.env.*
**/!.env.example

# Logs
*.log
logs
coverage

# OS / editor files
.DS_Store
Thumbs.db
.vscode/*.log
